{{ define "title" }}
<div class="container">
  <div class="content-center">
    <h1 class="title">{{ .Title }}</h1>
    <div class="text-center">
      <div class="container">
        <div class="content-center">
            <div class="photo-container">
                <img src="/img/{{ .Site.Author.image }}" alt="">
            </div>
            <h3 class="title">{{ .Site.Author.name }}</h3>
            <p class="category">{{ .Site.Author.subtitle }}</p>
        </div>
    </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
    <div class="button-container">
        {{ with .Site.Author.linkedin }}
        <a href="https://www.linkedin.com/in/{{.}}" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Connect on LinkedIn">
            <i class="fa fa-linkedin"></i>
        </a>
        {{ end }}
        {{ with .Site.Author.stackoverflow }}
        <a href="https://stackoverflow.com/{{.}}" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Stackoverflow">
            <i class="fa fa-stack-overflow"></i>
        </a>
        {{ end }}
        {{ with .Site.Author.gitlab }}
        <a href="https://gitlab.com/{{.}}" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow on Gitlab">
            <i class="fa fa-gitlab"></i>
        </a>
        {{ end }}
        {{ with .Site.Author.github }}
        <a href="https://github.com/{{.}}" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow on Github">
            <i class="fa fa-github"></i>
        </a>
        {{ end }}
    </div>
  {{ .Content }}
  </div>
</div>
{{ end }}