<footer class="footer" data-background-color="black">
  <div class="container">
    <nav>
	    <ul>
      
      {{ with .Site.Author.linkedin }}
        <li>
            <a href="https://www.linkedin.com/in/{{.}}">
              <i class="fa fa-linkedin"></i>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Author.stackoverflow }}
        <li>
            <a href="https://stackoverflow.com/{{.}}">
              <i class="fa fa-stack-overflow"></i>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Author.gitlab }}
        <li>
            <a href="https://gitlab.com/{{.}}">
              <i class="fa fa-gitlab"></i>
            </a>
        </li>
        {{ end }}
        {{ with .Site.Author.github }}
        <li>
            <a href="https://github.com/{{.}}">
              <i class="fa fa-github"></i>
          </a>
        </li>
        {{ end }}


	    {{ range .Site.Menus.footer }}
        <li>
          <a href="{{ .URL | relURL }}">{{ .Pre }} {{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
    </nav>
  </div>
</footer>